body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    margin-top: 40px;
    text-align: center;;
    width: 100%;
    height: 50px;
}
header p{
    margin-top: -5px;
    font-size: 14px;
}

main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
main .imagen{
    padding-top: 50px;
}
main h3{
    color: #36c;
    font-size: 16px;
}
main p{
 color: #54595d;
 font-size: 12px;
 margin-top: -12px;

}

main #language-1{
    text-align: center;
    padding-left: 30px;
}

main #language-2{
    text-align: center;
    padding-right: 75px;
}

main #language-3{
    text-align: center;
    padding-right: 100px;
}

main #language-4{
    text-align: center;
    padding-right: 75px;
}
main #language-5{
    text-align: center;
    padding-left: 30px;
}


main #language-6{
    text-align: center;
    padding-right: 30px;
}

main #language-7{
    text-align: center;
    padding-left: 75px;
}

main #language-8{
    text-align: center;
    padding-left: 100px;
}

main #language-9{
    text-align: center;
    padding-left: 75px;
}
main #language-10{
    text-align: center;
    padding-right: 30px;
}

.content-search{
    margin-top: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.content-search .content-search-box{
    display: flex;
    justify-content: center;

    width: 470px;
    border: 1px solid #a2a9b1;
}
.content-search .content-search-box:hover{
    border: 2px solid #3366cc;
}

.content-search input{
    height: 33px;
    width: 300px;
    outline: none;
    margin-left: 10px;
    font-size: 20px;
    border: 0;
}

.content-search .search-language{
    margin: auto;
    padding-right: 10px;

}
.content-search select{
    width: 40px;
    margin-left: 30px;
    border: 0;
    outline: none;
}
.content-search .content-search-box .search-icon{
background-color:#3366cc ;
width: 50px;
display: flex;
padding: 2px;
justify-content: center;
}

.content-search .content-search-box .search-icon img{
width: 30px;
height: 30px;
color: white;
}
 

.language{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.language select{
    width: 270px;
    height: 30px;
    border: 1px solid #a2a9b1;
    text-align: center;
    color: #3366cc;
}

.language select:hover{
    border: 2px solid #3366cc;
}

.language .hr{
    width: 250px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

hr{
    opacity: 0.5;
}

.elements{  
    display: flex;
    width: 100%;
    
}
.elements .info-wiki{
    color: #54595d;
    width: 30%;
    padding: 20px;
    font-size: 14px;
}
.elements .info-wiki .box{
    display: flex;
}
.elements .info-wiki .box .img{
    padding-right: 10px;
    padding-top: 15px;

}
.elements .otros-wikis{
    padding: 20px;
    width: 60%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.elements .otros-wikis .box{
    display: flex;
    font-size: small;
    color: #54595d;
}

.elements .otros-wikis .box .img{
    padding-top: 20px;
}
.elements .otros-wikis .box .azul{
    color: #3366cc;
}

footer{
    display: flex;
    font-size: 12px;
    color: #3366cc;
    justify-content: center;
}

footer ul{
    display: flex;
}
footer ul li{
    padding-right: 25px;
}